$color-white: #fff;
$color-black: #000;

$color-grey: #535353;
$color-grey-light: #efefef;

$color-primary: #3498db;
$color-primary-accent: #2980b9;

$color-alert: #e74c3c;

$color-text: $color-grey;
$color-link: $color-primary;


$header-bg: $color-white;
$sidebar-bg: $color-primary;