<div class="row">
	<div class="col-lg-3 col-md-6 animated fadeIn">
		<app-card cardTitle="Notifications">
			No notifications
		</app-card>
	</div>
	<div class="col-lg-3 col-md-6 animated fadeIn">
		<app-card cardTitle="Mail">
			Inbox is empty
		</app-card>
	</div>
	<div class="col-lg-3 col-md-6 animated fadeIn">
		<app-card cardTitle="Hello World">
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
		</app-card>
	</div>
	<div class="col-lg-3 col-md-6 animated fadeIn">
		<app-card cardTitle="Hello World">
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
		</app-card>
	</div>
</div>

<div class="row">
	<div class="col-md-6 animated fadeIn">
		<app-card>
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
		</app-card>
	</div>
	<div class="col-md-6 animated fadeIn">
		<app-card>
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
			hello world
		</app-card>
	</div>
</div>

<!-- <div class="row">
	<div class="col-sm-6">
		<app-card cardTitle="Hello 4">
				hello world
		</app-card>
	</div>
	<div class="col-sm-6">
		<app-card cardTitle="Hello 4">
				hello world
		</app-card>
	</div>
</div> -->